numpy==1.26.0
matplotlib==3.8.0

# PT: Just for communicating with the web app
requests==2.31
invoke==2.2

# PT: Used when reading live antenna data, but currently
# gypsum focuses on analyzing antenna recordings rather than real-time positioning.
# pyrtlsdr[lib]
