<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="grid-parent">
        <main class="main-site-content">
            <h1 style="text-align: center">{% block title %}{% endblock %}</h1>
            <div style="stroke-width: 2px; border-bottom: 0.5px solid #333;"></div>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
