{% extends "base.html.jinja2" %}

{% block title %}
    Gypsum Dashboard
{% endblock %}

{% block content %}
    <style>
        #tracker_visualizers {
            width: 100%;
            height: 800px;
        }
    </style>

    <script>
        console.log(`Running script!`);
        window.setInterval("reloadTrackerVisualizers();", 1000);

        function reloadTrackerVisualizers() {
            console.log(`Running reload!`);
            document.getElementById("tracker_visualizers").contentWindow.location.reload();
        }
    </script>

    <h1>
        Receiver timestamp: {{ state.receiver_timestamp }}
    </h1>

    <iframe id="tracker_visualizers" src="/tracker_visualizers"></iframe>
    <h1>
        Satellite IDs eligible for acquisition:
    </h1>
    <ul>
        {% for sat_id in state.satellite_ids_eligible_for_acquisition %}
            <li>{{ sat_id }}</li>
        {% endfor %}
    </ul>
{% endblock %}
