{% extends "base.html.jinja2" %}

{% block title %}
    Gypsum Dashboard
{% endblock %}

{% block content %}
    <style>
        .double_buffered_iframe_container {
            position: relative;
        }

        .double_buffered_iframe {
            width: 100%;
            border-width: 0;
            position: absolute;
            top: 0;
            left: 0;
        }

        .tracker_visualizers_iframe {
            height: 400px;
        }

    </style>

    <script type="module" src="/static/js/dashboard.js"></script>

    <h1>
        Receiver timestamp: {{ state.receiver_timestamp }}
    </h1>

    <div class="double_buffered_iframe_container" id="tracker-visualizers-iframe-container">
        <iframe class="double_buffered_iframe tracker_visualizers_iframe" id="tracker-visualizers1" src="/tracker_visualizers"></iframe>
        <iframe class="double_buffered_iframe tracker_visualizers_iframe" id="tracker-visualizers2" src="/tracker_visualizers"></iframe>
    </div>
    <div id="tracker-visualizers-spacer"></div>

    <h1>
        Satellite IDs eligible for acquisition:
    </h1>
    <ul>
        {% for sat_id in state.satellite_ids_eligible_for_acquisition %}
            <li>{{ sat_id }}</li>
        {% endfor %}
    </ul>
{% endblock %}
