{% extends "base.html.jinja2" %}

{% block content %}
    <h4>Stats</h4>
    <p>
        Receiver timestamp: {{ state.receiver_timestamp }}
    </p>
    <p>
        Tracked satellite count: {{ state.tracked_satellite_count }}
    </p>
    <p>
        Processed subframe count: {{ state.processed_subframe_count }}
    </p>
    <!--
    <p>
        Satellite IDs to orbital parameters: (TODO)
    </p>
    -->
{% endblock %}
