{% extends "base.html.jinja2" %}

{% block content %}
    <h3>
        Receiver timestamp: {{ state.receiver_timestamp }}
        Tracked satellite count: {{ state.tracked_satellite_count }}
        Processed subframe count: {{ state.processed_subframe_count }}
        Satellite IDs to orbital parameters: {{ state.satellite_ids_to_orbital_parameters }}
    </h3>
{% endblock %}
