{% extends "base.html.jinja2" %}

{% block content %}
    <style>
        .satellite_infos_table {
        }
    </style>

    <h4>
        Satellite Categories
    </h4>

    <div>
        <div>
            <table class="table table-striped satellite_infos_table">
                <thead>
                    <tr>
                        <th scope="col">Tracked</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sat_id in state.tracked_satellite_ids %}
                        <tr><td>{{sat_id.id}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-striped satellite_infos_table">
                <thead>
                <tr>
                    <th scope="col">Eligible for Acquisition</th>
                </tr>
                </thead>
                <tbody>
                    {% for sat_id in state.satellite_ids_eligible_for_acquisition %}
                        <tr><td>{{sat_id.id}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-striped satellite_infos_table">
                <thead>
                <tr>
                    <th scope="col">Cold</th>
                </tr>
                </thead>
                <tbody>
                    {% for sat_id in state.satellite_ids_ineligible_for_acquisition %}
                        <tr><td>{{sat_id.id}}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
