{% extends "base.html.jinja2" %}

{% block content %}
    <style>
        .main-site-content {
            max-width: 100%;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
        }

        .grid-item {
            display: inline-grid;
        }

        .tracker-dashboard {
            margin: 10px;
            border-color: black;
            border-width: 1px;
            border-style: solid;
        }

        .tracker-dashboard-image {
            max-width: 100%;
        }
    </style>

    <div class="grid-container">
        <h2>Tracked Satellites at {{ generated_at }}</h2>
        <br/>
        <div></div>
        {% for dashboard_image_base64 in state.dashboard_figures %}
            <div class="grid-item tracker-dashboard">
                    <img class="tracker-dashboard-image" src="data:image/png;base64, {{ dashboard_image_base64 }}" alt="matplotlib figure visualizing statistics, metrics, and graphs concerning the process of decoding a particular GPS satellite signal from the incoming antenna data." />
            </div>
        {% endfor %}
    </div>
{% endblock %}
