{% extends "base.html.jinja2" %}

{% block title %}
    Tracked Satellites at {{ generated_at }}
{% endblock %}

{% block content %}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .grid-item {
            display: inline-grid;
        }

        .tracker-dashboard-image {
            max-width: 100%;
        }
    </style>

    <div class="grid-container">
        {% for dashboard_image_base64 in state.dashboard_figures %}
            <div class="grid-item tracker-dashboard">
                    <img class="tracker-dashboard-image" src="data:image/png;base64, {{ dashboard_image_base64 }}" alt="matplotlib figure visualizing statistics, metrics, and graphs concerning the process of decoding a particular GPS satellite signal from the incoming antenna data." />
            </div>
        {% endfor %}
    </div>
{% endblock %}
